In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [3]:
%sql SELECT * FROM songplays LIMIT 5;

* postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

In [3]:
%sql SELECT * FROM users LIMIT 5;

* postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(69, 'Anabelle', 'Simpson', 'F', 'paid')]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

* postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363)]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

* postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', nan, nan)]

In [7]:
%sql SELECT * FROM time LIMIT 5;

* postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.datetime(2018, 11, 11, 2, 33, 56, 796000), 2, 11, 45, 11, 2018, 'Sunday'),
 (datetime.datetime(2018, 11, 11, 2, 36, 10, 796000), 2, 11, 45, 11, 2018, 'Sunday'),
 (datetime.datetime(2018, 11, 11, 2, 40, 34, 796000), 2, 11, 45, 11, 2018, 'Sunday'),
 (datetime.datetime(2018, 11, 11, 4, 36, 13, 796000), 4, 11, 45, 11, 2018, 'Sunday'),
 (datetime.datetime(2018, 11, 11, 4, 36, 46, 796000), 4, 11, 45, 11, 2018, 'Sunday')]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).